@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-grey-0: #ffffff;
  --color-grey-50: #f1f1f1;
  --color-grey-100: #e5e5e5;
  --color-grey-150: #e5e6e8;
  --color-grey-200: #dadada;
  --color-grey-300: #d1d1d1;
  --color-grey-400: #9b9b9b;
  --color-grey-450: #929292;
  --color-grey-500: #8c8c8c;
  --color-grey-600: #545454;
  --color-grey-700: #464646;
  --color-grey-800: #313131;
  --color-grey-900: #1f1f1f;
  --color-red-3: #ff6787;

  --font-inter: "Inter", sans-serif;
}
