@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-grey-300: #d1d1d1;
  --color-grey-450: #929292;
  --color-grey-600: #545454;
  --color-grey-800: #313131;
  --color-grey-900: #1f1f1f;

  --font-inter: "Inter", sans-serif;
}

@layer components {
  .section-title {
    @apply font-semibold text-grey-900 text-4xl sm:text-5xl lg:text-6xl;
  }

  .section-title-start {
    @apply self-start font-semibold text-4xl sm:text-5xl lg:text-[54px] text-grey-900;
  }

  .body-copy-lg {
    @apply text-grey-600 text-2xl;
  }

  .body-copy-lg-medium {
    @apply font-medium text-grey-600 text-2xl;
  }

  .body-copy-xl-medium {
    @apply font-medium text-2xl;
  }

  .body-copy-center {
    @apply text-center;
  }

  .footer-heading {
    @apply font-semibold text-2xl;
  }

  .footer-copy {
    @apply text-[22px] text-grey-300;
  }

  .footer-copy-list {
    @apply flex flex-col gap-4 text-[22px] text-grey-300;
  }

  .hero-stat-value {
    @apply text-3xl sm:text-4xl lg:text-[55px] text-grey-600 text-nowrap;
  }

  .hero-stat-label {
    @apply text-base sm:text-lg lg:text-[22px] text-grey-600;
  }

  .testimonial-location {
    @apply font-medium text-grey-450 text-xl;
  }

  .accordion-title {
    @apply font-semibold text-2xl;
  }
}
